<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

<header class="header">
  <div class="container header-inner">
    <div class="name">{{ site.title }}</div>

    <nav>
      {% for item in site.data.navigation %}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>

<div class="container layout">

  <aside class="sidebar">
    <img src="/assets/profile.jpg" class="profile">

    
    <p>
      Short bio goes here.<br>
      Your institution<br>
      Your field
    </p>

    <p>
      <a href="/cv/">CV</a><br>
      <a href="https://scholar.google.de/citations?user=Lrh5XU8AAAAJ&hl=de">Google Scholar</a>
    </p>
  </aside>

  <main class="main-content">
    {{ content }}
  </main>

</div>

<footer class="footer">
  <div class="container">
    © {{ site.time | date: "%Y" }}
  </div>
</footer>

</body>
</html>
